* {
	font-family: sans-serif;
}

div.form_query {
	margin: 1em 2em;
}

div.form_label {
	font-weight: bold;
	margin-bottom: 0.2em;
}

div.form_error {
	color: #cc0000;
}

div.form_submit {
	margin: 1em 2em;
}

input#habitica_id {
	width: 25em;
}
