<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Habitica Challenge Creator</title>
  <meta name="description" content="Habitica Challenge Creator">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <h1>Habitica Challenge Creator</h1>
  <p>There will be content later</p>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.habitica_id.label }}<br>
        {{ form.habitica_id(size=32) }}
    </p>
    <p>{{ form.create_challenge() }}</p>
  </form>
</body>
</html>
