<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Habitica Challenge Creator</title>
  <meta name="description" content="Habitica Challenge Creator">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <h1>Habitica Challenge Creator</h1>
  <p>There will be content later</p>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
      <div class="form_query">
        <div class="form_label">
          {{ form.habitica_id.label }}
        </div>
        {% for error in form.habitica_id.errors %}
          <div class="form_error">{{ error }}</div>
        {% endfor %}
        <div class="form_field">
          {{ form.habitica_id() }}
        </div>
      </div>
    <div class="form_submit">{{ form.create_challenge() }}</div>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}

</body>
</html>
