{% from "macros.html" import form_item with context %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Habitica Challenge Creator</title>
  <meta name="description" content="Habitica Challenge Creator">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <h1>Habitica Challenge Creator</h1>
  <p>There will be content later</p>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form_item(form.habitica_id) }}
    {{ form_item(form.habitica_api_key) }}
    {{ form_item(form.challenge_data) }}
    <div class="form_submit">{{ form.create_challenge() }}</div>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}

</body>
</html>
